*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body {
  background-image: url("https://bataban.com/mag/images/What-is-life-like-in-heaven-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #000;
  text-shadow: 2px 2px 7px #fff;
  padding: 10px 0 50px;
}

.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    margin-top: 50px;
}
.row{
    margin: auto;
    display: flex;
    justify-content: space-between;
}


.image {
    width: 400px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text {
    width: 400px;
    height: 600px;
    padding: 20px;
    color: #000;
    text-shadow: 2px 2px 8px #fff;
}
.LifeHistory {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 p {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    color: #000;
    text-shadow: 2px 2px 7px #fff;
}
.ElapsedTime {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ElapsedTime p {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

@media screen and (max-width: 787px) {
    .body {
        padding: 10px 0;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image {
        width: 250px;
    }
    .LifeHistory {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ElapsedTime {
        display: flex;
        /* flex-direction: column; */
        
    }
    .ElapsedTime p {
        width: 250px;
        font-size: 16px;
        margin: auto;
    }
    .text  {
        width: 250px;
        font-size: 16px;
        margin: auto;
    }
}
